<footer class="footer-scroll-js">
        <div class="container">
            <div class="flink-group">
                    <div class="flink-box">
                        <h3 >About AXIS</h3>
                        <div class="flink-box-content">
                                    <ul>
                                            <li><a class="" title="About Us" href="javascript:void(0);" aria-disabled="true" tabindex="-1" style="pointer-events:none;opacity:.55;cursor:not-allowed;">About Us</a>
</li>
                                            <li><a class="" title="Contact AXIS" href="javascript:void(0);" aria-disabled="true" tabindex="-1" style="pointer-events:none;opacity:.55;cursor:not-allowed;">Contact AXIS</a>
</li>
                                            <li><a class="" title="Gym Near Me" href="javascript:void(0);" aria-disabled="true" tabindex="-1" style="pointer-events:none;opacity:.55;cursor:not-allowed;">Gym Near Me</a>
</li>
                                            <li><a class="" title="AXIS App" href="javascript:void(0);" aria-disabled="true" tabindex="-1" style="pointer-events:none;opacity:.55;cursor:not-allowed;">AXIS App</a>
</li>
                                            <li><a class="" title="Refer A Friend" href="javascript:void(0);" aria-disabled="true" tabindex="-1" style="pointer-events:none;opacity:.55;cursor:not-allowed;">Refer A Friend</a>
</li>
                                            <li><a class="" title="Member Reviews" href="javascript:void(0);" aria-disabled="true" tabindex="-1" style="pointer-events:none;opacity:.55;cursor:not-allowed;">Member Reviews</a>
</li>
                                            <li><a class="" title="Blog & News" href="javascript:void(0);" aria-disabled="true" tabindex="-1" style="pointer-events:none;opacity:.55;cursor:not-allowed;">Blog & News</a>
</li>
                                            <li><a class="" title="Day Pass Registration" href="javascript:void(0);" aria-disabled="true" tabindex="-1" style="pointer-events:none;opacity:.55;cursor:not-allowed;">Day Pass Registration</a>
</li>
                                            <li><a class="" title="AXIS FAQs" href="javascript:void(0);" aria-disabled="true" tabindex="-1" style="pointer-events:none;opacity:.55;cursor:not-allowed;">AXIS FAQs</a>
</li>
                                            <li><a class="" title="Member Health Declaration" href="javascript:void(0);" aria-disabled="true" tabindex="-1" style="pointer-events:none;opacity:.55;cursor:not-allowed;">Member Health Declaration</a>
</li>
                                            <li><a class="" title="Cancel My Membership" href="javascript:void(0);" aria-disabled="true" tabindex="-1" style="pointer-events:none;opacity:.55;cursor:not-allowed;">Cancel My Membership</a>
</li>
                                    </ul>

                        </div>
                    </div>
                    <div class="flink-box">
                        <h3 >Classes</h3>
                        <div class="flink-box-content">
                                    <ul>
                                            <li><a class="" title="All AXIS Classes" href="javascript:void(0);" aria-disabled="true" tabindex="-1" style="pointer-events:none;opacity:.55;cursor:not-allowed;">All AXIS Classes</a>
</li>
                                            <li><a class="" title="AXIS Class Timetable" href="javascript:void(0);" aria-disabled="true" tabindex="-1" style="pointer-events:none;opacity:.55;cursor:not-allowed;">AXIS Class Timetable</a>
</li>
                                            <li><a class="" title="AXIS Signature" href="javascript:void(0);" aria-disabled="true" tabindex="-1" style="pointer-events:none;opacity:.55;cursor:not-allowed;">AXIS Signature</a>
</li>
                                            <li><a class="" title="AXIS On Demand" href="javascript:void(0);" aria-disabled="true" tabindex="-1" style="pointer-events:none;opacity:.55;cursor:not-allowed;">AXIS On Demand</a>
</li>
                                    </ul>

                        </div>
                    </div>
                    <div class="flink-box">
                        <h3 >CORPORATE</h3>
                        <div class="flink-box-content">
                                    <ul>
                                            <li><a class="" title="Corporate Gym Membership" href="javascript:void(0);" aria-disabled="true" tabindex="-1" style="pointer-events:none;opacity:.55;cursor:not-allowed;">Corporate Gym Membership</a>
</li>
                                            <li><a class="" title="Student Memberships" href="javascript:void(0);" aria-disabled="true" tabindex="-1" style="pointer-events:none;opacity:.55;cursor:not-allowed;">Student Memberships</a>
</li>
                                            <li><a class="" title="Dubai Fitness Challenge 2026" href="javascript:void(0);" aria-disabled="true" tabindex="-1" style="pointer-events:none;opacity:.55;cursor:not-allowed;">Dubai Fitness Challenge 2026</a>
</li>
                                            <li><a class="" title="AXIS Partners" href="javascript:void(0);" aria-disabled="true" tabindex="-1" style="pointer-events:none;opacity:.55;cursor:not-allowed;">AXIS Partners</a>
</li>
                                            <li><a class="" title="Advertise With AXIS" href="javascript:void(0);" aria-disabled="true" tabindex="-1" style="pointer-events:none;opacity:.55;cursor:not-allowed;">Advertise With AXIS</a>
</li>
                                            <li><a class="" title="Jobs at AXIS" href="javascript:void(0);" aria-disabled="true" tabindex="-1" style="pointer-events:none;opacity:.55;cursor:not-allowed;">Jobs at AXIS</a>
</li>
                                            <li><a class="" title="Property" href="javascript:void(0);" aria-disabled="true" tabindex="-1" style="pointer-events:none;opacity:.55;cursor:not-allowed;">Property</a>
</li>
                                            <li><a class="" title="Press" href="javascript:void(0);" aria-disabled="true" tabindex="-1" style="pointer-events:none;opacity:.55;cursor:not-allowed;">Press</a>
</li>
                                            <li><a class="" title="Terms and Conditions" href="javascript:void(0);" aria-disabled="true" tabindex="-1" style="pointer-events:none;opacity:.55;cursor:not-allowed;">Terms and Conditions</a>
</li>
                                            <li><a class="" title="Privacy Policy" href="javascript:void(0);" aria-disabled="true" tabindex="-1" style="pointer-events:none;opacity:.55;cursor:not-allowed;">Privacy Policy</a>
</li>
                                    </ul>

                        </div>
                    </div>
            </div>
                <div class="fsupport-content">
                    <a   class="g-btn g-btn--xlarge g-btn--fill-yellow g-btn--large-arrow" title="JOIN NOW" href="gymsnearme/gymmembership/index.html">JOIN NOW</a>

                    <h4 >PROUD SUPPORTER OF:</h4>
                    <div class="fsupport-logos">
                            <div class="partners-logo">
                                <img  alt="KSA VISION 2030"  src="media/j0aosbph/ksa-vision-2030.svg" loading="lazy" decoding="async" width="85" height="127">
                            </div>
                            <div class="partners-logo">
                                <img  alt="UAE 2031"  src="media/ddhlncyo/uae-2031.svg" loading="lazy" decoding="async" width="85" height="127">
                            </div>
                            <div class="partners-logo">
                                <img  alt="Bahrain 2030 Colored"  src="media/pr3cakkf/bahrain-2030-colored.svg" loading="lazy" decoding="async" width="85" height="127">
                            </div>
                    </div>
                </div>
            <div class="copyright-text">
                <a href="index.html" class="footer-brand-logo" aria-label="AXIS Home"><img src="dist/assets/images/logo.png" alt="AXIS" width="220" height="66" loading="lazy" class="mb-1"></a>
<p>© Copyright AXIS 2026.</p>            </div>
        </div>
    </footer>