<footer class="footer-scroll-js">
        <div class="container">
            <div class="flink-group">
                    <div class="flink-box">
                        <h3 >About AXIS</h3>
                        <div class="flink-box-content">
                                    <ul>
                                            <li><a   class="" title="About Us" href="aboutgymnearme/index.html">About Us</a>
</li>
                                            <li><a   class="" title="Contact AXIS" href="contact-gymnation/index.html">Contact AXIS</a>
</li>
                                            <li><a   class="" title="Gym Near Me" href="gymsnearme/index.html">Gym Near Me</a>
</li>
                                            <li><a   class="" title="AXIS App" href="gymnationapp/index.html">AXIS App</a>
</li>
                                            <li><a   class="" title="Refer A Friend" href="refer/index.html">Refer A Friend</a>
</li>
                                            <li><a   class="" title="Member Reviews" href="member-reviews/index.html">Member Reviews</a>
</li>
                                            <li><a   class="" title="Blog & News" href="blog/index.html">Blog & News</a>
</li>
                                            <li><a   class="" title="Day Pass Registration" href="day-pass-registration/index.html">Day Pass Registration</a>
</li>
                                            <li><a   class="" title="AXIS FAQs" href="gymnationfaqs/index.html">AXIS FAQs</a>
</li>
                                            <li><a   class="" title="Member Health Declaration" href="member-health-declaration/index.html">Member Health Declaration</a>
</li>
                                            <li><a   class="" title="Cancel My Membership" href="cancel-my-membership/index.html">Cancel My Membership</a>
</li>
                                    </ul>

                        </div>
                    </div>
                    <div class="flink-box">
                        <h3 >Classes</h3>
                        <div class="flink-box-content">
                                    <ul>
                                            <li><a   class="" title="All AXIS Classes" href="fitness-classes/index.html">All AXIS Classes</a>
</li>
                                            <li><a   class="" title="AXIS Class Timetable" href="gymnationclasstimetable/index.html">AXIS Class Timetable</a>
</li>
                                            <li><a   class="" title="AXIS Signature" href="gymnationsignature/index.html">AXIS Signature</a>
</li>
                                            <li><a   class="" title="AXIS On Demand" href="gymnationondemand/index.html">AXIS On Demand</a>
</li>
                                    </ul>

                        </div>
                    </div>
                    <div class="flink-box">
                        <h3 >CORPORATE</h3>
                        <div class="flink-box-content">
                                    <ul>
                                            <li><a   class="" title="Corporate Gym Membership" href="corporate-gym-membership/index.html">Corporate Gym Membership</a>
</li>
                                            <li><a   class="" title="Student Memberships" href="student-memberships/index.html">Student Memberships</a>
</li>
                                            <li><a   class="" title="Dubai Fitness Challenge 2026" href="dubai-fitness-challenge/index.html">Dubai Fitness Challenge 2026</a>
</li>
                                            <li><a   class="" title="AXIS Partners" href="gymnationpartners/index.html">AXIS Partners</a>
</li>
                                            <li><a   class="" title="Advertise With AXIS" href="ads/index.html">Advertise With AXIS</a>
</li>
                                            <li><a   class="" title="Jobs at AXIS" href="jobs-at-gymnation/index.html">Jobs at AXIS</a>
</li>
                                            <li><a   class="" title="Property" href="property/index.html">Property</a>
</li>
                                            <li><a   class="" title="Press" href="press/index.html">Press</a>
</li>
                                            <li><a   class="" title="Terms and Conditions" href="terms-conditions/index.html">Terms and Conditions</a>
</li>
                                            <li><a   class="" title="Privacy Policy" href="privacy-policy/index.html">Privacy Policy</a>
</li>
                                    </ul>

                        </div>
                    </div>
                    <div class="flink-box">
                        <h3 >LOCATIONS</h3>
                        <div class="flink-box-content">
                                    <h4><a href="ae/index.html" title="GYMS IN UAE">GYMS IN UAE</a></h4>
                                    <ul>
                                            <li>
                                                <a   class="" title="Gyms in Abu Dhabi" href="ae/gyms-in-abu-dhabi/index.html">Gyms in Abu Dhabi</a>

                                            </li>
                                            <li>
                                                <a   class="" title="Gyms in Al Ain" href="ae/gyms-in-al-ain/index.html">Gyms in Al Ain</a>

                                            </li>
                                            <li>
                                                <a   class="" title="Gyms in Dubai" href="ae/gyms-in-dubai/index.html">Gyms in Dubai</a>

                                            </li>
                                            <li>
                                                <a   class="" title="Gyms in Sharjah" href="ae/gyms-in-sharjah/index.html">Gyms in Sharjah</a>

                                            </li>
                                    </ul>
                                    <h4><a href="sa/index.html" title="GYMS IN KSA">GYMS IN KSA</a></h4>
                                    <ul>
                                            <li>
                                                <a   class="" title="Gyms in Al Khobar" href="sa/gyms-in-al-khobar/index.html">Gyms in Al Khobar</a>

                                            </li>
                                            <li>
                                                <a   class="" title="Gyms in Dammam" href="sa/gyms-in-dammam/index.html">Gyms in Dammam</a>

                                            </li>
                                            <li>
                                                <a   class="" title="Gyms in Jeddah" href="sa/gyms-in-jeddah/index.html">Gyms in Jeddah</a>

                                            </li>
                                            <li>
                                                <a   class="" title="Gyms in Madinah" href="sa/gyms-in-madinah/index.html">Gyms in Madinah</a>

                                            </li>
                                            <li>
                                                <a   class="" title="Gyms in Riyadh" href="sa/gyms-in-riyadh/index.html">Gyms in Riyadh</a>

                                            </li>
                                    </ul>
                                    <h4><a href="bh/index.html" title="GYMS IN BAHRAIN">GYMS IN BAHRAIN</a></h4>
                                    <ul>
                                            <li>
                                                <a   class="" title="Gyms in Muharraq" href="bh/gyms-in-muharraq/index.html">Gyms in Muharraq</a>

                                            </li>
                                            <li>
                                                <a   class="" title="Gyms in Saar" href="bh/gyms-in-saar/index.html">Gyms in Saar</a>

                                            </li>
                                    </ul>

                        </div>
                    </div>
            </div>
                <div class="fsupport-content">
                    <a   class="g-btn g-btn--xlarge g-btn--fill-yellow g-btn--large-arrow" title="JOIN NOW" href="gymsnearme/gymmembership/index.html">JOIN NOW</a>

                    <h4 >PROUD SUPPORTER OF:</h4>
                    <div class="fsupport-logos">
                            <div class="partners-logo">
                                <img  alt="KSA VISION 2030"  src="media/j0aosbph/ksa-vision-2030.svg" loading="lazy" decoding="async" width="85" height="127">
                            </div>
                            <div class="partners-logo">
                                <img  alt="UAE 2031"  src="media/ddhlncyo/uae-2031.svg" loading="lazy" decoding="async" width="85" height="127">
                            </div>
                            <div class="partners-logo">
                                <img  alt="Bahrain 2030 Colored"  src="media/pr3cakkf/bahrain-2030-colored.svg" loading="lazy" decoding="async" width="85" height="127">
                            </div>
                    </div>
                </div>
            <div class="copyright-text">
                <a href="index.html" class="footer-brand-logo" aria-label="AXIS Home"><img src="dist/assets/images/logo.png" alt="AXIS" width="220" height="66" loading="lazy" class="mb-1"></a>
<p>© Copyright AXIS 2026.</p>            </div>
        </div>
    </footer>